#keyboard {
    background-color: darkgray;
    box-shadow: 0 4px 0 4px #6d6d6d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    gap: 15px;
    width: 880px;
    border-radius: 8px;
    margin: 48px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 9px;
}

.key {
    background-color: black;
    color: white;
    font-size: 1.3em;
    padding: 16px;
    box-shadow: 0 3px 0 3px grey;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.space-bar {
    width: 300px;
}

.shift {
    width: 48px;
}

.pushed {
    box-shadow: 0 1px #0006;
  transform: translateY(6px);
}

.highlighted {
    box-shadow: 0 3px 0 3px red;
}
